.flex {
    display: flex;
}
.margin {
    margin: 5px;
    box-sizing: border-box;
}
.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.background {
    background: darkgrey;
}
.radius {
    border-radius: 10px;
}
.conteiner {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.w100 {
    width: 100%;
}

.h30 {
    height: 30vh;
}
.a_other {
    /*box-sizing: border-box;*/
    height: 70%;
}
.boxConteiner{
    width: 70%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}
.f{
    width: 30%;

}
.b{
    box-sizing: border-box;
    height: 50%;
}

.cde {
    height: 50%;
    box-sizing: border-box;
    align-items: center;
}

.px {
    height: 90%;
    width: 35%;
}