body {
    background: #bdd3ce;
}

img {
    height: 300px;
}

h1 {
    background: #1673a7;
    color: rgba(255, 255, 0, 0.89);
    text-align: center;
    font-size: 50px;
}

h2 {
    background: #5d7a7a;
    color: rgba(224, 224, 195, 0.89);
    text-align: center;
}

p {
    background: #6bbbbb;
    color: #395050;
}

ul {
    background: rgba(255, 255, 0, 0.84);
    color: #395050;
}